{% extends 'base.html.twig' %}

{% block title %}MakeZine App{% endblock %}

{% block body %}
<div class="container mt-5 mb-5 overflow-auto">
    <div class="row mt-5 mb-4">
        <div class="col-md-6 border">
            <h3 style="font-family: Press-Feeling-Eroded; font-size:48px">Fanzine en cours de modification</h3>
            <h5>"{{selectedZine.title}}" - Page {{selectedPage.position}}</h5>
            <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel"
                data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="fanzine-page">
                            {% for module in modules %}

                            {% if module.type == 'image' and module.scotch == true %}
                            <div class="picture img-tape">
                                <img src={{ asset('img/' ~ module.url) }} alt={{module.legend}}>
                                <figcaption style="font-style: italic">{{module.legend}}
                                    <a href={{path("edit_module", {"id":module.id})}}
                                        style="text-decoration: none">🖊️</a>
                                    <a href={{path("delete_module", {"id":module.id})}} style="text-decoration: none" ,
                                        onclick="return confirm('supprimer le module?')">🗑️</a>
                                </figcaption>
                            </div>
                            {% endif %}

                            {% if module.type == 'image' and module.scotch != true %}
                            <div class="picture">
                                <img src={{ asset('img/' ~ module.url) }} alt={{module.legend}}>
                                <figcaption style="font-style: italic">{{module.legend}}
                                    <a href={{path("edit_module", {"id":module.id})}}
                                        style="text-decoration: none">🖊️</a>
                                    <a href={{path("delete_module", {"id":module.id})}} style="text-decoration: none" ,
                                        onclick="return confirm('supprimer le module?')">🗑️</a>
                                </figcaption>
                            </div>
                            {% endif %}

                            {% if module.collage == true and module.type != 'image' %}
                            <div class={{module.type ~'-collage'}}>{{module.content}}<a href={{path("edit_module",
                                    {"id":module.id})}} style="text-decoration: none">🖊️</a>
                                <a href={{path("delete_module", {"id":module.id})}} style="text-decoration: none" ,
                                    onclick="return confirm('supprimer le module?')">🗑️</a>
                            </div>
                            {% endif %}
                            {% if module.collage == false and module.type != 'image' %}
                            <div class={{module.type}}>{{module.content}}
                                <a href={{path("edit_module", {"id":module.id})}} style="text-decoration: none">🖊️</a>
                                <a href={{path("delete_module", {"id":module.id})}} style="text-decoration: none" ,
                                    onclick="return confirm('supprimer le module?')">🗑️</a>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <div class="d-flex justify-content-end">
                                <a href={{path("create_module", {"idPage": selectedPage.id})}}
                                    style="text-decoration: none; border: solid black 1px; border-radius: 50%; padding: 3px; ">➕</a>
                            </div>
                        </div>
                        <div class="mt-2 mb-2 d-flex justify-content-center">
                            <a href={{path("show_zine", {"id":selectedZine.id})}} class="btn btn-info">Retour</a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <div class="col-md-6 border">
            <h3 style="font-family: Press-Feeling-Eroded; font-size:48px">Outils d'édition</h3>
            <div class="container mt-3">
                {% if formUpdateZine is defined %}
                {{form_start(formUpdateZine)}}
                <div class="mb-3">
                    <label for="fanzine_title"><strong>Titre</strong></label>
                    {{form_row(formUpdateZine.title)}}
                </div>
                <div class="mb-3">
                    <label for="fanzine_abstract"><strong>Résumé</strong></label>
                    {{form_row(formUpdateZine.abstract)}}
                </div>
                <button class="btn btn-success mb-3">Modifier</button>
                {{form_end(formUpdateZine)}}
                {% endif %}

                {% if formModule is defined %}
                {{form_start(formModule)}}
                <div class="mb-3">
                    <label for="module_type"><strong>Type</strong></label>
                    {{form_row(formModule.type)}}
                </div>
                <div class="mb-3">
                    <label for="module_content"><strong>Contenu</strong> (uniquement pour texte/titre)</label>
                    {{form_row(formModule.content)}}
                </div>
                <div class="mb-3">
                    <label for="module_legend"><strong>Légende </strong>(uniquement pour image)</label>
                    {{form_row(formModule.legend)}}
                </div>
                <div class="mb-3">
                    <label for="module_collage"><strong>Appliquer un aspect `collage`?</strong>(uniquement pour texte/titre)?</label>
                    {{form_row(formModule.collage)}}
                </div>
                <div class="mb-3">
                    <label for="module_url"><strong>Télécharger une image</strong></label>
                    {{form_row(formModule.url)}}
                </div>
                <div class="mb-3">
                    <label for="module_scotch"><strong>Appliquer un aspect `scotch`?</strong>(uniquement pour image)?</label>
                    {{form_row(formModule.scotch)}}
                </div>
                <button class="btn btn-success mb-3">Modifier</button>
                {{form_end(formModule)}}
                {% endif %}

                {% if formModuleCreate is defined %}
                {{form_start(formModuleCreate)}}
                <div class="mb-3">
                    <label for="module_type"><strong>Type</strong></label>
                    {{form_row(formModuleCreate.type)}}
                </div>
                <div class="mb-3">
                    <label for="module_content"><strong>Contenu (uniquement pour texte/paragraphe)</strong></label>
                    {{form_row(formModuleCreate.content)}}
                </div>
                <div class="mb-3">
                    <label for="module_legend"><strong>Légende (uniquement pour image)</strong></label>
                    {{form_row(formModuleCreate.legend)}}
                </div>
                <div class="mb-3">
                    <label for="module_collage"><strong>Appliquer un aspect `collage` au texte/titre?</strong></label>
                    {{form_row(formModuleCreate.collage)}}
                </div>
                <div class="mb-3">
                    <label for="module_url"><strong>Télécharger une image</strong></label>
                    {{form_row(formModuleCreate.url)}}
                </div>
                <div class="mb-3">
                    <label for="module_scotch"><strong>Appliquer un aspect `scotch` à l'image?</strong></label>
                    {{form_row(formModuleCreate.scotch)}}
                </div>
                <button class="btn btn-success mb-3">Insérer</button>
                {{form_end(formModuleCreate)}}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}