{% extends 'base.html.twig' %}

{% block title %}MakeZine App
{% endblock %}

{% block body %}
	<div class="container mt-5 mb-5 overflow-auto">
		<div class="row mt-5 mb-4">
			<div class="col-md-6 border">
				<h3 style="font-family: Press-Feeling-Eroded; font-size:48px">Fanzine en cours de modification</h3>
				<h5>"{{selectedZine.title}}"</h5>
				<div class="d-flex justify-content-center mt-2 mb-2" id="nav-zine">
					<button type="button" data-position ="1" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active page-btn" aria-current="true" aria-label="Slide 1">i</button>
					<button type="button" data-position ="2" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" class="page-btn" aria-label="Slide 2">1</button>
					<button type="button" data-position ="3" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" class="page-btn" aria-label="Slide 3">2</button>
					<button type="button" data-position ="4" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" class="page-btn" aria-label="Slide 4">3</button>
					<button type="button" data-position ="5" data-bs-target="#carouselExampleControls" data-bs-slide-to="4" class="page-btn" aria-label="Slide 5">4</button>
					<button type="button" data-position ="6" data-bs-target="#carouselExampleControls" data-bs-slide-to="5" class="page-btn" aria-label="Slide 6">5</button>
					<button type="button" data-position ="7" data-bs-target="#carouselExampleControls" data-bs-slide-to="6" class="page-btn" aria-label="Slide 7">6</button>
					<button type="button" data-position ="8" data-bs-target="#carouselExampleControls" data-bs-slide-to="7" class="page-btn" aria-label="Slide 8">7</button>
					<button type="button" data-position ="9" data-bs-target="#carouselExampleControls" data-bs-slide-to="8" class="page-btn" aria-label="Slide 9">8</button>
				</div>
				<div class="carousel-inner"></div>
				<div id="carouselExampleControls" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="card" style="width: 264px; height: 377px; margin:auto">
								<div class="card-body">
									<h3 style="font-family: Press-Feeling-Eroded; font-size:26px">Titre</h3>
									<h5 class="card-title">{{selectedZine.title}}</h5>
									<h3 style="font-family: Press-Feeling-Eroded; font-size:26px">Résumé</h3>
									<p class="card-text">{{selectedZine.abstract}}</p>
									<h3 style="font-family: Press-Feeling-Eroded; font-size:26px">Date de création</h3>
									<p class="card-text">{{selectedZine.createdAt|date("d/m/Y")}}</p>
									<h3 style="font-family: Press-Feeling-Eroded; font-size:26px">Visible des autres visiteurs</h3>
									{% if selectedZine.visible == true %}
										<p class="card-text">OUI</p>
									{% else %}
										<p class="card-text">NON</p>
									{% endif %}

								</div>
							</div>
							<div class="mt-2 mb-2 d-flex justify-content-center">
								<a href={{path("update_zine", {"id":selectedZine.id} )}} class="btn btn-info">Modifier
																																													                                les infos du Fanzine</a>
							</div>
						</div>
						{% for page in pages %}
							<div class="carousel-item">
								<div class="card fanzine-page">
									{% for module in page.modules %}

										{% if module.type == 'image' and module.scotch == true %}
											<div class="picture img-tape">
												<img src={{ asset('img/' ~ module.url) }} alt={{module.legend}}>
												<figcaption style="font-style: italic">{{module.legend}}</figcaption>
											</div>
										{% endif %}

										{% if module.type == 'image' and module.scotch != true %}
											<div class="picture">
												<img src={{ asset('img/' ~ module.url) }} alt={{module.legend}}>
												<figcaption style="font-style: italic">{{module.legend}}</figcaption>
											</div>
										{% endif %}

										{% if module.collage == true and module.type != 'image' %}
											<div class={{module.type ~'-collage'}}>{{module.content}}</div>
										{% endif %}
										{% if module.collage == false and module.type != 'image' %}
											<div class={{module.type}}>{{module.content}}</div>
										{% endif %}
									{% endfor %}
								</div>
								<div class="mt-2 mb-2 d-flex justify-content-center">
									<a href={{path("page_view", {"id":page.id} )}} class="btn btn-info">Editer page
										{{page.position}}</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<button id="previousControl" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span  class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button id="nextControl" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			<div class="col-md-6 border">
				<h3 style="font-family: Press-Feeling-Eroded; font-size:48px">Outils d'édition</h3>

				{% if formUpdateZine is defined %}
					{{form_start(formUpdateZine)}}
					<div class="mb-3">
						<label for="fanzine_title">
							<strong>Titre</strong>
						</label>
						{{form_row(formUpdateZine.title)}}
					</div>
					<div class="mb-3">
						<label for="fanzine_abstract">
							<strong>Résumé</strong>
						</label>
						{{form_row(formUpdateZine.abstract)}}
					</div>
					<div class="mb-3">
						<label for="fanzine_visible">
							<strong>Visible par les autres visiteurs?</strong>
						</label>
						{{form_row(formUpdateZine.visible)}}
					</div>
					<button class="btn btn-success">Modifier</button>
					{{form_end(formUpdateZine)}}
				{% endif %}

				{% if selectedPage is defined %}
					{% for module in modules %}
						{% if module.collage %}
							<div class={{module.type ~'-collage'}} style="text-align:start">{{module.content}}</div>
						{% else %}
							<div class={{module.type}} style="text-align:start">{{module.content}}</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}