{% extends 'base.html.twig' %}

{% block title %}MakeZine App{% endblock %}

{% block body %}
<div class="container mt-5 mb-5 overflow-auto">
    <h1 style="font-family: Press-Feeling-Eroded; font-size:64px">Mes fanzines</h1>
    <div class="row">
        <div class="col d-flex flex-wrap justify-content-between">
            {% for fanzine in fanzines %}
            <div class="card mt-2 bg-dark text-light" style="width: 15rem;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title"><strong>Titre:</strong> {{fanzine.title}}</h5>
                        <a href={{path("delete_zine", {"id":fanzine.id})}} onclick= "return confirm('supprimer le fanzine?')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </a>
                    </div>
                    <p class="card-text"><strong>Créé le:</strong> {{fanzine.createdAt|date("d/m/Y")}}</p>
                    <p class="card-text"><strong>Résumé:</strong> {{fanzine.abstract}}</p>
                    <a href={{path("show_zine", {id:fanzine.id})}} class="btn btn-primary">Voir</a>
                </div>
            </div>
            {% endfor %}
            <div class="card mt-2" style="width: 15rem;">
                {% if formCreateZine is defined %}
                <div class="card-body d-flex flex-column justify-content-center bg-dark text-light">
                    <h5>Nouveau Fanzine</h5>
                    {{form_start(formCreateZine)}}
                    <div class="mb-3">
                        {{form_row(formCreateZine.title)}}
                    </div>
                    <div class="mb-3">
                        {{form_row(formCreateZine.abstract)}}
                    </div>
                    <button class="btn btn-success">Créer</button>
                    {{form_end(formCreateZine)}}
                </div>
                {% else %}
                <div class="card-body d-flex flex-column justify-content-center bg-dark">
                    <a href={{path("create_zine")}} class="btn btn-success">Créer un nouveau Fanzine</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-4">
        <div class="col-md-6 border">
            <h3 style="font-family: Press-Feeling-Eroded; font-size:48px">Fanzine en cours de modification</h1>
                {% if selectedZine is defined %}
                <h5>{{selectedZine.title}}</h5>

                <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="fanzine-page">
                                <div class="title-collage">Titre</div>
                                <p class="paragraph">{{selectedZine.title}}</p>
                                <div class="paragraph-collage">Résumé</div>
                                <p class="paragraph">{{selectedZine.abstract}}</p>
                                <div class="paragraph-collage">Date de création</div>
                                <p class="paragraph">{{selectedZine.createdAt|date("d/m/Y")}}</p>
                            </div>
                            <div class="mt-2 mb-2 d-flex justify-content-center">
                                <a href="#" class="btn btn-info">Modifier les infos du Fanzine</a>
                            </div>
                        </div>

                        {% for page in pages %}
                        <div class="carousel-item">
                            <div class="fanzine-page">
                                {% for module in page.modules %}
                                {% if module.collage %}
                                <div class={{module.type ~'-collage'}}>{{module.content}}</div>
                                {% else %}
                                <div class={{module.type}}>{{module.content}}</div>
                                {% endif %}
                                {% endfor %}
                                <div class="d-flex justify-content-end">
                                    page {{page.position}}
                                </div>
                            </div>
                            <div class="mt-2 mb-2 d-flex justify-content-center">
                                <a href="#" class="btn btn-info">Editer page {{page.position}}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                {% else %}
                <p>Aucun fanzine sélectionné</p>
                {% endif %}
        </div>
        <div class="col-md-6 border">
            <h3 style="font-family: Press-Feeling-Eroded; font-size:48px">Outils d'édition</h3>
            {% if selectedZine is defined %}

            {% else %}
            <p>Sélectionner un fanzine pour accéder aux outils d'édition</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}